/src/message.pb.cc
/src/message.pb.h
/chat-with-asio.pro
/chat-with-asio.pro.user
/deployment.pri
/protobuf/
/boost/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
